*{
  margin:0;
}


body {
  background-color: #1E1E1E;
}
.container {
display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 450px;
    margin-top: 40px;
}

label {
    color: #fff;
    font-size: 20px;
    margin-bottom: 5px;
}

input {
    background-color:#5E5E5E;
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.btn {
    background: #C5582E;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    width: 150px;
    margin-left: 150px;
    cursor: pointer;
    margin-top: 50px;
}




.logo-login{
   position:absolute;
   left: 70px;
   top: 300px;
   width: 229px;
   height: 331px;
}
form{

}

