.container-item-cardapio {
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    background-color: #101010;
    border-radius: 12%;
    border: 1px solid #545454;
    min-height: 300px;
    padding: 8px;
}
.container-imagem-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#imagem-item {
    width:165px;
    height: 165px;
    border-radius: 100%;
    border: 1px solid #545454;
}
.container-descricao-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-descricao-item {

}
.container-descricao-item > * {
    font-family: "Chivo";
    
}
.container-descricao-item > h1 {
    color: #B7B7B7;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}
.container-descricao-item > p {
    color: white;
    font-size: 16px;
    font-weight: lighter;
    margin-top: 10px;
}   
