@font-face {
    font-family: "Staatliches";
    src: url(../fonts/Staatliches-Regular.ttf);
}
@font-face {
    font-family: "JoseFinSans";
    src: url(../fonts/JosefinSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Rochester";
    src: url(../fonts/Rochester-Regular.ttf);
}