@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
    margin:0;
    background-color: #181818;
    font-family: Inter;

}

.box-principal{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-pedidos{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    color:#FFFFFF;
    margin-bottom: 80px;
    padding: 20px;
}

.detalhes-imagem{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 180px;
    min-width: 100px;
    z-index: 1;
}


.estrutura-pedidos{
    padding: 20px;
    display: flex;
    border-radius: 36px;
    gap: 60px;
    background: #1f1f1f;
    border: solid #5E5E5E 1px;
    align-items: center;
}
.form-estrutura{
    background: #1f1f1f;
}
p{
    background: #1f1f1f;
    text-align: center;
}

.logo{
    margin-top: 40px;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;

}

.titulo{
    color: #E2664A;
    font-size: 50px;
    margin-bottom: 40px;
    font-family: 'Staatliches', serif;
}

.box-button{

    width:50vw;
    display: flex;
    flex-direction: row-reverse;

}

.adicionar-icon{
    background-color: #E2664A;
    width: 28px;
    height: 28px;
    padding: 5px;
    border-radius: 10px;
}

.adicionar-icon:hover{
    background-color: #a74d38;
}

p{
    font-size: 25px;
}

.btn-finalizar{
    background-color: #E2664A;
    border: none;
    color: #FFFFFF;
    padding: 5px;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 20px;
}

.btn-finalizar:hover{
    background-color: #a74d38;
}