@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
    margin:0;

    font-family: Inter;
    color:#FFFFFF;
    background-color: #181818;


}

a{
    color: #D7D4D4;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.titulo{
    color: #E2664A;
    font-size: 50px;
    margin-bottom: 40px;
    font-family: 'Staatliches', serif;
    margin-top: 50px;
    margin-left: 20px;

}

.box-button{

    display: flex;
    justify-content: center;
    color: #D7D4D4;

}

.btn-voltar{
    color: #D7D4D4;
    background-color: #E2664A;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
}